﻿@model List<StudentManager.Models.LectureStudent>

@{
    ViewBag.Title = "Lectures";
}

<div class="row" style="padding-top: 15px;">
    <div class="col-md-12">
        <form method="get" action='@Url.Action("Index")'>
            <div class="panel panel-primary">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <div class="form-group col-md-12 col-lg-6">
                        <label class="control-label">Lecture Name</label>
                        <input type="text" id="lectureName" name="lectureName" class="form-control" placeholder="Lecture Name" />
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary pull-right" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Lectures</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Lecture Name
                        </th>
                        <th>
                            Lecture Time
                        </th>
                        <th>
                            Lecturer Name
                        </th>
                        <th>
                            Student ID
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Check-In Time
                        </th>
                        <th>
                            Attended
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Lecture.Name</td>
                            <td>@item.Lecture.Time.ToString("dd/MM/yyyy hh:mm")</td>
                            <td>@item.Lecture.LecturerName</td>
                            <td>@item.StudentId</td>
                            <td>@item.Student.Name</td>
                            <td>@item.CheckInTimeString</td>
                            <td>
                                @if (item.Attended)
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-remove"></span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>