﻿@model List<StudentManager.Models.StudentBook>
@using System;
@{
    ViewBag.Title = "Library";
}

<style>

    .no-data-text {
        text-align: center;
        font-size: 20px;
        font-style: oblique;
    }
</style>

<div class="row" style="padding-top: 15px;">
    <div class="col-md-12">
        <form method="get" action='@Url.Action("Library")'>
            <div class="panel panel-primary">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <div class="form-group col-md-12 col-lg-6">
                        <label class="control-label">Student ID</label>
                        <input type="text" id="studentId" name="studentId" class="form-control" placeholder="Student ID" />
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary pull-right" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Books</div>
            <div class="panel-body">
                @if (Model == null || Model.Count < 1)
                {
                    <div class="no-data-text">
                        No data
                    </div>
                }
                else
                {
                    <table class="table table-hover">
                        <tr>
                            <th>
                                Book
                            </th>
                            <th>
                                Borrow Date
                            </th>
                            <th>
                                Expected Return Date
                            </th>
                            <th>
                                Student ID
                            </th>
                            <th>
                                Student Name
                            </th>
                            <th>
                                Actual Return Date
                            </th>
                            <th>
                                Fee
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Book.Name</td>
                                <td>@item.BorrowDateString</td>
                                <td>@item.BorrowDate.AddDays(2).ToString("dd/MM/yyyy hh:mm")</td>
                                <td>@item.StudentId</td>
                                <td>@item.Student.Name</td>
                                <td>@item.ReturnDateString</td>
                                @if (item.ReturnDate.HasValue)
                                {
                                <td>@(((item.BorrowDate - DateTime.Now).Days - 2) < 0 ? 0 : (item.BorrowDate - DateTime.Now).Days - 2)</td>
                                }
                                else
                                {
                                    <td>0</td>
                                }
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>

    </div>
</div>